### 2023 사회복지시설 전처리 및 시각화 ###

In [131]:
import pandas as pd 

swf=pd.read_csv("C:\\Users\\SAMSUNG\\Desktop\\시각화 기말 자료\\사회복지시설_20250521214516.csv",encoding='cp949')
swf

     소재지(시군구)별(1)  소재지(시군구)별(2)     2023   2023.1   2023.2   2023.3   2023.4
0    소재지(시군구)별(1)  소재지(시군구)별(2)        계       국가   지방자치단체   사회복지법인    비영리법인
1    소재지(시군구)별(1)  소재지(시군구)별(2)  시설수 (개)  시설수 (개)  시설수 (개)  시설수 (개)  시설수 (개)
2              전국            소계     1278       36      958      250       34
3           서울특별시            소계      332        2      278       49        3
4           서울특별시           종로구        5        0        5        0        0
..            ...           ...      ...      ...      ...      ...      ...
205          경상남도           합천군        3        0        3        0        0
206          경상남도           하동군        1        0        1        0        0
207       제주특별자치도            소계        4        -        1        3        -
208       제주특별자치도           제주시        2        0        0        2        0
209       제주특별자치도          서귀포시        2        0        1        1        0

[210 rows x 7 columns]

In [132]:
swf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   소재지(시군구)별(1)  210 non-null    object
 1   소재지(시군구)별(2)  210 non-null    object
 2   2023          210 non-null    object
 3   2023.1        210 non-null    object
 4   2023.2        210 non-null    object
 5   2023.3        210 non-null    object
 6   2023.4        210 non-null    object
dtypes: object(7)
memory usage: 11.6+ KB

In [133]:
swf.isna().sum()

소재지(시군구)별(1)    0
소재지(시군구)별(2)    0
2023            0
2023.1          0
2023.2          0
2023.3          0
2023.4          0
dtype: int64

In [134]:
swf.columns = ["시도", "시군구", "계", "국가", "지자체", "사회복지법인", "비영리법인"]


swf["행정구역"] = swf["시도"] + " " + swf["시군구"]
swf[["행정구역", "계", "국가", "지자체", "사회복지법인", "비영리법인"]]

                          행정구역        계       국가      지자체   사회복지법인    비영리법인
0    소재지(시군구)별(1) 소재지(시군구)별(2)        계       국가   지방자치단체   사회복지법인    비영리법인
1    소재지(시군구)별(1) 소재지(시군구)별(2)  시설수 (개)  시설수 (개)  시설수 (개)  시설수 (개)  시설수 (개)
2                        전국 소계     1278       36      958      250       34
3                     서울특별시 소계      332        2      278       49        3
4                    서울특별시 종로구        5        0        5        0        0
..                         ...      ...      ...      ...      ...      ...
205                   경상남도 합천군        3        0        3        0        0
206                   경상남도 하동군        1        0        1        0        0
207                 제주특별자치도 소계        4        -        1        3        -
208                제주특별자치도 제주시        2        0        0        2        0
209               제주특별자치도 서귀포시        2        0        1        1        0

[210 rows x 6 columns]

In [135]:
swf = swf.iloc[2:].reset_index(drop=True)


#swf.columns = ["시도", "시군구", "계", "국가", "지자체", "사회복지법인", "비영리법인"]



swf = swf[swf["시군구"] != "소계"].copy()


swf["행정구역"] = swf["시도"] + " " + swf["시군구"]


result_sum = swf[["행정구역", "계"]]
result_nation = swf[["행정구역","국가"]]
result_local_government = swf[["행정구역","지자체"]]
result_swfoundation = swf[["행정구역","사회복지법인"]]
result_non_profit = swf[["행정구역","비영리법인"]]
# 결과 확인
print(result_sum)

             행정구역   계
2       서울특별시 종로구   5
3        서울특별시 중구  12
4       서울특별시 용산구  10
5       서울특별시 성동구   5
6       서울특별시 광진구  10
..            ...  ..
202      경상남도 거창군   1
203      경상남도 합천군   3
204      경상남도 하동군   1
206   제주특별자치도 제주시   2
207  제주특별자치도 서귀포시   2

[190 rows x 2 columns]

In [143]:
result_sum.loc[:, "계"] = pd.to_numeric(result_sum["계"])
result_sum.loc[:, "계비율"] = result_sum["계"] / 1278
result_sum_rate = result_sum.drop(columns=["계"])
result_sum_rate_sorted = result_sum_rate.sort_values(by="계비율", ascending=False)
result_sum_rate_sorted

            행정구역       계비율
85       경기도 고양시  0.057121
91       경기도 화성시  0.032864
88       경기도 안산시  0.028169
83       경기도 수원시  0.018779
93      경기도 의정부시  0.017214
..           ...       ...
124  강원특별자치도 평창군  0.000782
176     경상북도 경주시  0.000782
177     경상북도 김천시  0.000782
38     부산광역시 금정구  0.000782
154     전라북도 장수군  0.000782

[190 rows x 2 columns]

In [146]:
result_nation.loc[:, "국가"] = pd.to_numeric(result_nation["국가"])
result_nation.loc[:, "국가 비율"] = result_nation["국가"] / 1278
result_nation_rate = result_nation.drop(columns=["국가"])
result_nation_rate_sorted = result_nation_rate.sort_values(by="국가 비율", ascending=False)
result_nation_rate_sorted

                행정구역     국가 비율
81   세종특별자치시 세종특별자치시  0.011737
94           경기도 시흥시  0.010172
51         대구광역시 달성군  0.001565
86           경기도 용인시  0.001565
26         서울특별시 강동구  0.000782
..               ...       ...
75          울산광역시 중구       0.0
76          울산광역시 남구       0.0
77          울산광역시 동구       0.0
78          울산광역시 북구       0.0
207     제주특별자치도 서귀포시       0.0

[190 rows x 2 columns]

In [142]:
result_local_government.loc[:, "지자체"] = pd.to_numeric(result_local_government["지자체"])
result_local_government.loc[:, "지자체 비율"] = result_local_government["지자체"] / 958
result_local_government.info()

result_local_government_rate = result_local_government.drop(columns=["지자체"])
result_local_government_rate_sorted = result_local_government_rate.sort_values(by="지자체 비율", ascending=False)
result_local_government_rate_sorted

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 2 to 207
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    190 non-null    object
 1   지자체     190 non-null    object
 2   지자체 비율  190 non-null    object
dtypes: object(3)
memory usage: 5.9+ KB

          행정구역    지자체 비율
85     경기도 고양시    0.0762
91     경기도 화성시  0.041754
88     경기도 안산시  0.035491
83     경기도 수원시  0.022965
93    경기도 의정부시  0.022965
..         ...       ...
177   경상북도 김천시       0.0
139   충청남도 공주시       0.0
179   경상북도 구미시       0.0
24   서울특별시 강남구       0.0
163   전라남도 담양군       0.0

[190 rows x 2 columns]

In [141]:
result_swfoundation.loc[:, "사회복지법인"] = pd.to_numeric(result_swfoundation["사회복지법인"])
result_swfoundation.loc[:, "사회복지법인 비율"] = result_swfoundation["사회복지법인"] / 958
result_swfoundation.info()

result_swfoundation_rate = result_swfoundation.drop(columns=["사회복지법인"])
result_swfoundation_rate_sorted=result_swfoundation_rate.sort_values(by="사회복지법인 비율", ascending=False)
result_swfoundation_rate_sorted

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 2 to 207
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   행정구역       190 non-null    object
 1   사회복지법인     190 non-null    object
 2   사회복지법인 비율  190 non-null    object
dtypes: object(3)
memory usage: 5.9+ KB

          행정구역 사회복지법인 비율
13   서울특별시 은평구  0.022965
92     경기도 평택시  0.015658
84     경기도 성남시   0.01357
61    인천광역시 서구  0.010438
169   전라남도 해남군  0.009395
..         ...       ...
79   울산광역시 울주군       0.0
76    울산광역시 남구       0.0
73   대전광역시 유성구       0.0
70    대전광역시 동구       0.0
105    경기도 포천시       0.0

[190 rows x 2 columns]

In [140]:
result_non_profit.loc[:, "비영리법인"] = pd.to_numeric(result_non_profit["비영리법인"])
result_non_profit.loc[:, "비영리법인 비율"] = result_non_profit["비영리법인"] / 958
result_swfoundation.info()

result_non_profit_rate = result_non_profit.drop(columns=["비영리법인"])
result_non_profit_rate_sorted = result_non_profit_rate.sort_values(by="비영리법인 비율",ascending=False)
result_non_profit_rate_sorted

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 2 to 207
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   행정구역       190 non-null    object
 1   사회복지법인     190 non-null    object
 2   사회복지법인 비율  190 non-null    object
dtypes: object(3)
memory usage: 5.9+ KB

             행정구역  비영리법인 비율
179      경상북도 구미시  0.009395
107       경기도 하남시  0.006263
130      충청북도 청주시  0.003132
57      인천광역시 연수구  0.003132
112       경기도 가평군  0.002088
..            ...       ...
76       울산광역시 남구       0.0
77       울산광역시 동구       0.0
78       울산광역시 북구       0.0
79      울산광역시 울주군       0.0
207  제주특별자치도 서귀포시       0.0

[190 rows x 2 columns]